[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
streamlit = "*"
scikit-learn = "*"
xgboost = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
