[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
streamlit = "*"
scikit-learn = "*"
xgboost = "*"
django-cors-headers = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
